.blc-center-text-icon{
    padding: 50px 0;
    .inner{
        @include inner;

        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 767px){
            flex-direction: column;
        }

    }
    .text-blc{
        max-width: 775px;
        margin: 0 2% 0 0;
    }

    .icons{
        width: 260px;
        height: 260px;
        flex: 0 0 260px;
        border-radius: 100%;
        background: $second-color;

        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 767px){
            margin-top: 32px;
        }
    }

}