.blc-text-center{
    text-align: center;
    padding: 60px 0 55px;
    .inner{
        @include inner-min;
    }

    &.border-full{
        .inner{
            @include inner;
        }
        &.bottom{
            border-bottom: 1px solid #d3d3d3;
        }
    }

    &.min-pad{
        padding-top: 0;

    }

    &.wide{
        .inner{
            @include inner;
        }
    }

    .title{
        margin-bottom: 20px;
        span{
            color: $primary-color;
            display: inline-block;
        }
    }
    .sub-title{
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        
    }
}

