.blc-text-center{
    text-align: center;
    padding: 60px 0 55px;
    .inner{
        @include inner-min;
    }

    &.min-pad{
        padding-top: 0;

    }

    &.wide{
        .inner{
            @include inner;
        }
    }
}

