.blc-text-img{
    display: flex;
    //align-items: center;

    

    .img{
        @media screen and (max-width: 767px){
            display: none!important;
        }
       img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       }         
    }

    .ob-postion-right{
        object-position: right;
    }
    .ob-postion-left{
        object-position: left;
    }


    .text-blc{
        width: 100%;
        max-width: 820px;
        margin: 0 0 0 60px;
        padding: 60px 20px 60px 0;
        @media screen and (max-width: 1440px){
            margin: 0 0 0 30px;
        }
        @media screen and (max-width: 767px){
            margin: 0;
            padding: 30px 20px;
        }

        .list{
            list-style: none;
            padding: 0;
            margin: 0 0 50px 0;
            li{
              padding: 0 0 0 35px;
              position: relative;
              font-size: 24px;
              margin-bottom: 20px;
              @media screen and (max-width: 991px){
                font-size: 18px;
                padding: 0 0 0 30px;
              }
              .list-icon{
                  position: absolute;
                  left: 0;
                  top: 0;
                  svg{
                      width: 24px;
                      height: 24px;
                      @media screen and (max-width: 991px){
                        width: 18px;
                        height: 18px;
                      }
                  }
              }
            }
        }
    }


    &.image-right{
        flex-direction: row-reverse;
        .text-blc{
            margin: 0 60px 0;
            padding: 60px 0 60px 20px;
            @media screen and (max-width: 1440px){
                margin: 0 30px 0 0;
            }
            @media screen and (max-width: 767px){
                margin: 0;
                padding: 30px 20px;
            }
        }
    }

    &.text-blc-min{
        .img{
            width: 50%;
            @media screen and (max-width: 991px){
                width: 100%;
            }
            
        }
        .text-blc{
            max-width: 570px;
            padding: 45px 20px 45px 0;
            @media screen and (max-width: 767px){
                margin: 0;
                padding: 30px 20px;
            }
        }


        &.image-right{
            .text-blc{
                padding: 45px 0 45px 20px;
                @media screen and (max-width: 767px){
                    margin: 0;
                    padding: 30px 20px;
                }
            }
        }
    }
}


.more-blc{
    .text-min{
        display: none;
        @media screen and (max-width: 767px){
            display: block;
        }
    }
    .text-big{
        display: block;
        @media screen and (max-width: 767px){
            display: none;
        }
    }



    .more-toogle{
        text-align: center;
        color: $primary-color;
        font-size: 18px;
        margin-bottom: 30px;
        display: none;
        @media screen and (max-width: 767px){
            display: block;
        }
        .hide-span{
            display: none;
        }
        
    }


    &.open-text{
        .text-min{
            display: none;
        }
        .text-big{
            display: block;
        }
        .more-toogle{
            .read-span{
                display: none;
            }
            .hide-span{
                display: block;
            }
        }
    }
}