.breadcrumbs{
    padding: 24px 0 30px;
    .inner{
        max-width: $width + 40px;
        margin: 0 auto;
        padding: 0 20px;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li{
            font-size: 16px;
            line-height: 1;
            span{
                display: inline-block;
                margin: 0 10px;
            }
            a{
                font-size: 16px;
                line-height: 1;
                svg{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}


.two-column{
    
    .inner{
        max-width: $width + 40px;
        margin: 0 auto;
        padding: 0 20px;

        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 991px){
            flex-direction: column;
        }
    }

    .title{
        span{
            display: inline-block;
        }
        @media screen and (max-width: 991px){
            text-align: center;
        }
        @media screen and (max-width: 640px){
            br{
                display: none;
            }
        }
    }
    .left{
        flex: 1;
    }
    .right{
        flex: 0 0 390px;
        margin: 0 0 0 40px;
        border-radius: 10px;
        background-color: #f5f5f5;
        padding: 35px 30px;
        @media screen and (max-width: 991px){
            margin: 40px auto;
            flex: auto;
            width: 100%;
            max-width: 70%;
        }
        @media screen and (max-width: 767px){
            max-width: 100%;
            padding: 30px 10px;
        }

        .sub-title{
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            margin: 0 0 30px 0;
        }

        .text{
            font-size: 18px;
            margin-top: 0;
        }

        .first-list{
            margin: 0 -8px 50px;
            @media screen and (max-width: 767px){
                margin: 0 0 50px;
            }
            
            .item{
                padding: 20px 8px;
                margin: 0 8px;
                text-align: center;
                border: none;
                @media screen and (max-width: 767px){
                    margin: 0 20% 22px;
                    width: auto;
                }
                svg {
                    width: auto;
                    height: 68px;
                }

                .item-title{
                    font-size: 15px;
                }
            }
        }

        .after-list{
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            max-width: 230px;
            margin: 0 auto;
        }
    }


    .cta-blc{
        display: flex;
        align-items: center;
        .simple-link{
            padding: 5px 35px;
            @media screen and (max-width: 640px){
                margin-top: 25px;
                padding: 5px 20px;
            }
        }
        @media screen and (max-width: 640px){
            flex-direction: column;
        }
    }

    .before-list{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
        @media screen and (max-width: 767px){
            font-size: 18px;
            text-align: center;
        }
    }

    .fee-list{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            font-size: 24px;
            margin-bottom: 35px;
            padding: 0 0 0 40px;
            background: url('../img/tick.png') 0px 5px no-repeat;
            @media screen and (max-width: 767px){
                font-size: 18px;
                background-position: 0 0;
            }
        }
    }


}